<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form method="POST" th:action="@{/auth/registration}" th:object="${Person}">
    <label for="username">Введите имя пользователя</label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red" th:errors="*{username}"
         th:if="${#fields.hasErrors('username')}">
    </div>

    <label for="username">Введите год рождения</label>
    <input
            id="yearOfBirth"
            th:field="*{yearOfBirth}"
            type="text"
    />
    <div style="color:red" th:errors="*{yearOfBirth}"
         th:if="${#fields.hasErrors('yearOfBirth')}">
    </div>

    <label for="username">Введите пароль</label>
    <input
            id="password"
            th:field="*{password}"
            type="password"
    />
    <div style="color:red" th:errors="*{password}"
         th:if="${#fields.hasErrors('password')}">
    </div>
    <br/>
    <input type="submit" value="Sign Up!">
</form>
</body>
</html>